@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALS */
*::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  @apply font-poppins;
}

/* CUSTOM */

.todo-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  flex-grow: 1;
  cursor: pointer;
}

.todo-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
input:focus {
  outline: none;
}
.todo-label .checkmark {
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  height: 20px;
  aspect-ratio: 1;
  background-color: #eee;
  position: relative;
  border-radius: 50%;
}

.todo-label:hover input:not(:checked) ~ .checkmark {
  @apply bg-accent-red rounded-full
}

.todo-label .checkmark:after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  display: none;
  @apply bg-accent-red rounded-full;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.todo-label input:checked ~ .checkmark:after {
  display: block;
}

/* LOADER */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply bg-accent-purple-transparent;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid ;
  @apply border-t-accent-white;
  border-top: 5px solid ;
  @apply border-t-accent-red;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}